.experience {
  margin-top: 4rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 1200px;
}

.experience-container-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
}

.experience-container-grid .experience-card {
  border-radius: 5px;
  padding: 20px;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  border: 1px solid;
  position: relative;
  overflow: hidden;
}

.experience-container-grid .experience-card:hover {
  transform: translateY(-5px);
}

.experience-container-grid .job-title-duration-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.experience-container-grid .job-title-duration-section .job-title {
  font-size: 1.2rem;
  font-weight: bold;
}
.experience-container-grid .job-title-duration-section .duration {
  font-size: 1rem;
  font-style: italic;
}

.experience-container-grid {
  display: flex;
  flex-direction: column; /* Stack the cards vertically */
  padding: 20px; /* Optional: Add padding to the container */
}

.experience-card {
  background-color: #fff; /* Optional: Set background color for cards */
  border: 1px solid #ddd; /* Optional: Add border for distinction */
  border-radius: 8px; /* Optional: Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
  padding: 20px; /* Internal padding for card content */
  box-sizing: border-box; /* Include padding and border in width calculation */
  margin-bottom: 20px; /* Add gap between each card */
}

.experience-card:last-child {
  margin-bottom: 0; /* Remove the margin from the last card to avoid extra space */
}

.experience-card .experience-description {
  margin-top: 1rem;
  text-align: justify;
}

.experience-description ul {
  list-style-type: disc;
  margin-left: 20px;
}

.experience-description li {
  margin-bottom: 8px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .experience-container-grid .job-title-duration-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .experience-container-grid .job-title-duration-section .job-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}
